body {
  font-family: Arial;
  background: linear-gradient(135deg,#0b7a3e,#4bd58f);
  color: white;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 20px;
}

.box {
  background: rgba(0,0,0,0.25);
  padding: 25px;
  margin: 30px auto;
  width: 90%;
  max-width: 750px;
  border-radius: 25px;
}

select, input {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin: 5px;
}

button {
  padding: 12px 30px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #ffe600;
}
